@media screen and (max-width: 420px) {
	#head {
		width: auto;
		height: 100%;
		left:50%;
		transform:translate(-50%);
		-webkit-transform:translate(-50%);
		-moz-transform:translate(-50%);
		-o-transform:translate(-50%);
		-ms-transform:translate(-50%);
	}
}

@media screen and (max-width: 480px) {
	.welcome-message {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.logo-mobile {
		display: block;
	}

	.logo-contact,
	.above .logo {
		display: none;
	}

	.contact-form form {
		width: 75%;
	}
	#rainbow {
		left:-65%;
		width: 200%;
		bottom:0;
	}

	section.moveup {
		margin-top: -12%;
	}


	.contact-form form input[type="submit"] {
		max-width: 80px;	
		height: 43px;
		background-image:url("../images/fish.png");
	}
	.contact-form form {
		background-position: 96% 94%;
		background-size: 25px;
	}
}


@media screen and (max-width: 980px) {
	#fishes {
		width: 100%;
	}
}

@media only screen and (min-width: 920px) {
	.portfolio-content {
		width:60%;
	}
}