@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);


body, html {
	font-family:'Oswald','Bebas Neue', Arial, sans-serif;
	margin:0;
	width:100%;
	height: 100%;
	color:#000;
	background: #000;
	/*overflow-x: hidden;*/
}
 
.content-wrap {
	margin:0;
	width:100%;
	height: 100%;
	position: absolute;
	/*overflow-x: hidden;*/
}

a {
	text-decoration: none;
	color:#000;
}

.clearfix {
	clear: both; 
}

section.section-home {
	position: relative;
	display: block;
	width:100%;
	height: 100%; 
}
section.section-home-2 {
	position: relative;
	display: block;
	width:100%;
	height: 90%; 
}

section.moveup {
	margin-top: -5%;
}


/*MENU*/

.menu-mobile {
	display: none;
	text-align: center;
	position: fixed;
	background:#fff;
	width: 0%;
	padding-top: 0%;
	border-radius: 50%;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}

	.menu-links {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		}
			.menu-links a {
				color:#000;
				text-decoration: none;
				display: block;
				padding: 10px;
				font-size: 1.2em;
			}

/*close buttons*/

.close-button {
	display: none;
}
.close-button-index {
	display: none;
}
.close-button,
.close-button-index {
	position: fixed;
	width:50px;
	height: 50px;
	top: 20px;
	right:20px;
	cursor: pointer;
	z-index: 9999;
}
	.close-button span,
	.close-button-index span {
		display: block;
		position: absolute;
		top:50%;
		left:0%;
		width: 100%;
		border-top:3px solid rgba(255,255,255,.2);
	}
		.close-button span:nth-child(even),
		.close-button-index span:nth-child(even) {
			transform:rotate(45deg);
		}
		.close-button span:nth-child(odd),
		.close-button-index span:nth-child(odd) {
			transform:rotate(-45deg);
		}

/*ABOVE SECTION - LOGO */
.logo-move.add {
	top:-100%;
}


.above .logo,
.logo-contact,
.logo-mobile {
	cursor: pointer;
	display: block;
	position: absolute;
	max-width: 109px;
	top:-110%;
	text-align: center;
	z-index: 1;
	animation: logo-appearance 2s forwards 1.5s;
	-webkit-animation: logo-appearance 2s forwards 1.5s;
	-moz-animation: logo-appearance 2s forwards 1.5s;
	-o-animation: logo-appearance 2s forwards 1.5s;
	-ms-animation: logo-appearance 2s forwards 1.5s;

}

	.above .logo,
	.logo-mobile.right {
		right: 75px;
	}
	.logo-contact,
	.logo-mobile.center {
		left: 50%;
		transform:translate(-63%);
		-webkit-transform:translate(-63%);
		-moz-transform:translate(-63%);
		-o-transform:translate(-63%);
		-ms-transform:translate(-63%);
	}

	@keyframes logo-appearance {
			0% {
				top:-110%;
			}
			100% {
				top: -8px;
			}
		}
		@-webkit-keyframes logo-appearance {
			0% {
				top:-100%;
			}
			100% {
				top: 0%;
			}
		}
		@-moz-keyframes logo-appearance {
			0% {
				top:-110%;
			}
			100% {
				top: -8px;
			}
		}
		@-o-keyframes logo-appearance {
			0% {
				top:-100%;
			}
			100% {
				top: 0%;
			}
		}
		@-ms-keyframes logo-appearance {
			0% {
				top:-100%;
			}
			100% {
				top: 0%;
			}
		}


	#logo {
		display: block;
		width: 100%;
		max-width: 109px;
		position: relative;
	}	
		.logo span,
		.logo-contact span,
		.logo-mobile span {
			margin-left: 30px;
			transition:all .2s ease;
			-webkit-transition:all .2s ease;
			-moz-transition:all .2s ease;
			-o-transition:all .2s ease;
			-ms-transition:all .2s ease;
		}

			.swap-title {
				  display: block;
				  height: 20px;
				  overflow-y: hidden;
			}
			/*.swap-title-2 {
				 display: block;
				  height: 15px;
				  overflow-y: hidden;
				 
			}
				.swap-title-2 span:first-child {
 					margin-top: -15px;
				}*/

			.logo-move:hover .swap-title span:first-child {
				margin-top:-20px;
			}
			/*.logo-move:hover .swap-title-2 span:first-child {
				margin-top:0px;
			}*/

		.logo .logo-title,
		.logo-contact .logo-title,
		.logo-mobile .logo-title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: .9em;
			display: block;
		}

		.logo .logo-subtitle,
		.logo-contact .logo-subtitle,
		.logo-mobile .logo-subtitle {
			text-transform: uppercase;
			font-size: .7em;
			display: block;
		}

		.logo-mobile {
			display: none;
		}




/*WELCOME MESSAGE*/

.welcome-message-wrap {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}
.welcome-message {
	display: block;
	position: absolute;
	text-transform: uppercase;
	text-align: right;
	top:50%;
	right: -100%;
	overflow: hidden;
	z-index: 1;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	animation: welcome-message 2s forwards 1.5s;
	-webkit-animation: welcome-message 2s forwards 1.5s;
	-moz-animation: welcome-message 2s forwards 1.5s;
	-o-animation: welcome-message 2s forwards 1.5s;
	-ms-animation: welcome-message 2s forwards 1.5s;
}

	@keyframes welcome-message {
		0% {
			right:-100%;
		}
		100% {
			right: 65px;
		}
	}
	@-webkit-keyframes welcome-message {
		0% {
			right:-100%;
		}
		100% {
			right: 65px;
		}
	}
	@-moz-keyframes welcome-message {
		0% {
			right:-100%;
		}
		100% {
			right: 65px;
		}
	}
	@-o-keyframes welcome-message {
		0% {
			right:-100%;
		}
		100% {
			right: 65px;
		}
	}
	@-ms-keyframes welcome-message {
		0% {
			right:-100%;
		}
		100% {
			right: 65px;
		}
	}
.welcome-message .welcome-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 4.5em;
	margin-top: -20px;
	margin-right:250px;
	background: #fff;
	padding: 0 10px;
	display: block;
	line-height: 1.5em;
	animation: welcome-title 1.5s forwards 1s;
	-webkit-animation: welcome-title 1.5s forwards 1s;
	-moz-animation: welcome-title 1.5s forwards 1s;
	-o-animation: welcome-title 1.5s forwards 1s;
	-ms-animation: welcome-title 1.5s forwards 1s;
}

	@keyframes welcome-title {
		0% {
			margin-right:250px;
		}
		100% {
			margin-right: 0px;
		}
	}
	@-webkit-keyframes welcome-title {
		0% {
			margin-right:250px;
		}
		100% {
			margin-right: 0px;
		}
	}
	@-moz-keyframes welcome-title {
		0% {
			margin-right:250px;
		}
		100% {
			margin-right: 0px;
		}
	}
	@-o-keyframes welcome-title {
		0% {
			margin-right:250px;
		}
		100% {
			margin-right: 0px;
		}
	}
	@-ms-keyframes welcome-title {
		0% {
			margin-right:250px;
		}
		100% {
			margin-right: 0px;
		}
	}

.welcome-message .welcome-subtitle {
	text-transform: uppercase;
	font-size: 2em;
	background: #fff;
	padding: 0 10px;
}



/*RAINBOW SVG*/

.rainbow {
	display: block;
	position: absolute;
	width:100%;
	height: 100%;
	overflow: hidden;
}
	#rainbow {
		display: block;
		position: absolute;
		height: auto;
		bottom:-2%;
		width: 100%;
		max-height: 120%;
		bottom: 0%;
		trasform:translate(-25%,0%);
		-webkit-trasform:translate(-25%,0%);
		-moz-trasform:translate(-25%,0%);
		-o-trasform:translate(-25%,0%);
		-ms-trasform:translate(-25%,0%);
		z-index: 0;
		overflow-x:hidden;
		left:-5%;
	}

/*HEAD*/

.under {
	display: block;
	position: absolute;
	width:100%;
	height: 100%;
	overflow: hidden;
	/*transition:all 1s ease;*/
}

	#head {
		display: block;
		position: absolute;
		height: auto;
		margin: auto;
		width: 100%;
		max-height: 100%;
		z-index: 0;
		transition: height 1s ease;
		
	}

	#fishes {
		display: block;
		width: 100%;
		position: absolute;
		height: auto;
		max-height: 100% !important;
		top:12%;
		left:50%;
		transform:translate(-50%,0);
		-wibkit-transform:translate(-50%,0);
		-moz-transform:translate(-50%,0);
		-o-transform:translate(-50%,0);
		-ms-transform:translate(-50%,0);
		max-height: 100%;
		overflow: hidden;
	}
		.fish-link {
			cursor: pointer;
		}


/*CONTACT FORM*/


.contact-form {
	display: block;
	position: absolute;
	width: 100%;
	margin: auto;
	left:0;
	right:0;
	top: 200px;
}
	.contact-form form {
		display: block;
		width: 40%;
		margin: auto;
		background-image:url("../images/hook.png");
		background-repeat: no-repeat;
		background-position: 96% 94%;
		background-size: 38px;
		margin-bottom: 40px;
		transition:all 1s ease;
	}
		.contact-form h1,
		.contact-form h2,
		.contact-form h3,
		.contact-form h4,
		.contact-form h5,
		.contact-form h6 {
			color:#000;
			text-align: center;
		}

		.contact-form form input[type="text"],
		.contact-form form input[type="email"],
		.contact-form form textarea {
			color: #fff;
			border: 5px solid #000;
			background-color: #000 !important;
			width:100%;
			min-width: 100%;
			margin-bottom: 20px;
			padding: 10px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		.contact-form form textarea{
			max-width: 40%;
		}
		
		.submit {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding: 10px 40px;
			border: none;
			background: none;
			display: block;
			width: 100%;
			max-width: 153px;	
			height: 82px;
			background-image:url("../images/fish.png");
			-ms-transition: all 1s ease-in-out;
			  -webkit-transition: all 1s ease-in-out;
			  -moz-transition: all 1s ease-in-out;
			  -o-transition: all 1s ease-in-out;
			  transition: all 1s ease-in-out;
			  background-size: 100%;
		}
				
			.submit-move {
				margin-left: 65%;
			}


/*PORTFOLIO TEMPLATE*/



section.section-portfolio {
	display: block;
	width:100%;
	height: 100%;
	position: relative;
}

	/*Portfolio fishes*/
	#fish-portfolio {
		position: fixed;
		width: 200%;
		left: -80%;
		height: 100%;
	}

	#fish-portfolio-behind {
		position: fixed;
		width: 200%;
		left: -100%;
		height: 100%;
		-ms-transition: all 1s ease-in-out;
		  -webkit-transition: all 1s ease-in-out;
		  -moz-transition: all 1s ease-in-out;
		  -o-transition: all 1s ease-in-out;
		  transition: all 1s ease-in-out;
	}
		.zindex-1 {
			z-index: -1;
			position: absolute;
			pointer-events:none;
		}
		.zindex-2 {
			z-index: 2;
			position: absolute;
			pointer-events:none;
		}

	

	/*.nav-arrow .left {
		display: block;
		width: 30px;
		height: 30px;
		position: fixed;
		left:5%;
		top:50%;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		z-index: 9999;
	}*/
	.nav-arrow .right {
		display: none;
		width: 30px;
		height: 30px;
		/*background: red;*/
		position: fixed;
		 right: 78px;
  		top: 45px;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		z-index: 9999;
	}

		.nav-arrow span {
			display: block;
			width: 70%;
			height: 3px;
			background: rgba(255,255,255,.2);
			position: absolute;
			top:50%;
			left:15%;
			transform:translate(-50%,-50%);
			-webkit-transform:translate(-50%,-50%);
			-moz-transform:translate(-50%,-50%);
			-o-transform:translate(-50%,-50%);
			-ms-transform:translate(-50%,-50%);
		}

			/*.nav-arrow .left span:first-child {
				transform:rotate(45deg);
				transform-origin:top left;
			}
			.nav-arrow .left span:last-child {
				transform:rotate(-45deg);
				transform-origin:top left;
			}*/

			.nav-arrow .right span:first-child {
				transform:rotate(45deg);
				transform-origin:top right;
			}
			.nav-arrow .right span:last-child {
				transform:rotate(-45deg);
				transform-origin:top right;
			}




/*BUBBLES*/
.bubbles {
	position: fixed;
	width:100%;
	height: 100%;
	z-index: 2;
	pointer-events:none;
}
	.bubble {
		position: absolute;
		width: 0%;
		height: auto;
		padding-top: 0%;
		background: rgba(255,255,255,.4);
		border:5px solid #000;
		border-radius: 50%;
		top:100%;
	}
	.bubble-one {
		left: 60%;
		animation: bubble-one-move 25s 5s linear infinite;
		-moz-animation: bubble-one-move 25s 5s linear infinite;
		-o-animation: bubble-one-move 25s 5s linear infinite;
		-ms-animation: bubble-one-move 25s 5s linear infinite;
		-webkit-animation: bubble-one-move 25s 5s linear infinite;
	}
		@keyframes bubble-one-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 15%;
				padding-top: 15%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-webkit-keyframes bubble-one-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 15%;
				padding-top: 15%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-o-keyframes bubble-one-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 15%;
				padding-top: 15%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-moz-keyframes bubble-one-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 15%;
				padding-top: 15%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-ms-keyframes bubble-one-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 15%;
				padding-top: 15%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
	.bubble-two {
		left: 65%;
		animation: bubble-two-move 25s 5.8s linear infinite;
		-webkit-animation: bubble-two-move 25s 5.8s linear infinite;
		-moz-animation: bubble-two-move 25s 5.8s linear infinite;
		-o-animation: bubble-two-move 25s 5.8s linear infinite;
		-ms-animation: bubble-two-move 25s 5.8s linear infinite;
	}
		@keyframes bubble-two-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 12%;
				padding-top: 12%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-webkit-keyframes bubble-two-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 12%;
				padding-top: 12%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-moz-keyframes bubble-two-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 12%;
				padding-top: 12%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-o-keyframes bubble-two-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 12%;
				padding-top: 12%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-ms-keyframes bubble-two-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 12%;
				padding-top: 12%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
	.bubble-three {
		left: 62%;
		animation: bubble-three-move 25s 6.6s linear infinite;
		-webkit-animation: bubble-three-move 25s 6.6s linear infinite;
		-moz-animation: bubble-three-move 25s 6.6s linear infinite;
		-o-animation: bubble-three-move 25s 6.6s linear infinite;
		-ms-animation: bubble-three-move 25s 6.6s linear infinite;
	}
		@keyframes bubble-three-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 8%;
				padding-top: 8%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-webkit-keyframes bubble-three-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 8%;
				padding-top: 8%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-moz-keyframes bubble-three-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 8%;
				padding-top: 8%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-o-keyframes bubble-three-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 8%;
				padding-top: 8%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}
		@-ms-keyframes bubble-three-move {
			0% {
				top:100%;
				width: 2%;
				padding-top: 2%;
			}
			20% {
				top:-50%;
				width: 8%;
				padding-top: 8%;
			}
			100% {
				top:-10%;
				width: 0%;
				padding-top: 0%;
			}
		}




/*PORTFOLIO*/


.portfolio-content,
.portfolio-intro {
	text-align: center;
	padding-left:10%;
	padding-right:10%;
	position: absolute;
	width: 65%;
	top:50%;
	left:50%;
	font-family: 'Times New Roman';
	font-style: italic;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
	
	.portfolio-intro img {
		width:40%;
	}
	.portfolio-content img {
		width:100%;
	}

	.portfolio-content img.first {
		width: 100%;
		-webkit-animation: portfolio-images-first-move 19s infinite linear;
		-moz-animation: portfolio-images-first-move 19s infinite linear;
		-o-animation: portfolio-images-first-move 19s infinite linear;
		-ms-animation: portfolio-images-first-move 19s infinite linear;
		animation: portfolio-images-first-move 19s infinite linear;
	}
		@-webkit-keyframes portfolio-images-first-move {
			0% {
				width:85%;
			}
			25% {
				width:100%;
			}
			50% {
				width:85%;
			}
			75% {
				width:70%;
			}
			100% {
				width:85%;

			}
		}

		@-moz-keyframes portfolio-images-first-move {
			0% {
				width:85%;
			}
			25% {
				width:100%;
			}
			50% {
				width:85%;
			}
			75% {
				width:70%;
			}
			100% {
				width:85%;

			}
		}
		@-o-keyframes portfolio-images-first-move {
			0% {
				width:85%;
			}
			25% {
				width:100%;
			}
			50% {
				width:85%;
			}
			75% {
				width:70%;
			}
			100% {
				width:85%;

			}
		}
		@-ms-keyframes portfolio-images-first-move {
			0% {
				width:85%;
			}
			25% {
				width:100%;
			}
			50% {
				width:85%;
			}
			75% {
				width:70%;
			}
			100% {
				width:85%;

			}
		}
		@keyframes portfolio-images-first-move {
			0% {
				width:85%;
			}
			25% {
				width:100%;
			}
			50% {
				width:85%;
			}
			75% {
				width:70%;
			}
			100% {
				width:85%;

			}
		}

	.portfolio-content img.second {
		width: 100%;
		-webkit-animation: portfolio-images-second-move 19s infinite linear;
		-moz-animation: portfolio-images-second-move 19s infinite linear;
		-o-animation: portfolio-images-second-move 19s infinite linear;
		-ms-animation: portfolio-images-second-move 19s infinite linear;
		animation: portfolio-images-second-move 19s infinite linear;
	}
		@-webkit-keyframes portfolio-images-second-move {
			0% {
				width:80%;
			}
			25% {
				width:60%;
			}
			50% {
				width:80%;
			}
			75% {
				width:100%;
			}
			100% {
				width:80%;

			}
		}
		@-moz-keyframes portfolio-images-second-move {
			0% {
				width:80%;
			}
			25% {
				width:60%;
			}
			50% {
				width:80%;
			}
			75% {
				width:100%;
			}
			100% {
				width:80%;

			}
		}
		@-o-keyframes portfolio-images-second-move {
			0% {
				width:80%;
			}
			25% {
				width:60%;
			}
			50% {
				width:80%;
			}
			75% {
				width:100%;
			}
			100% {
				width:80%;

			}
		}
		@-ms-keyframes portfolio-images-second-move {
			0% {
				width:80%;
			}
			25% {
				width:60%;
			}
			50% {
				width:80%;
			}
			75% {
				width:100%;
			}
			100% {
				width:80%;

			}
		}
		@keyframes portfolio-images-second-move {
			0% {
				width:80%;
			}
			25% {
				width:60%;
			}
			50% {
				width:80%;
			}
			75% {
				width:100%;
			}
			100% {
				width:80%;

			}
		}



/*Illuminator*/

.illuminator {
	position: fixed;
	top:200%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
/*	-ms-transition: all 1s ease-in-out;
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out; */
	height: auto;
	width: 0%;
	overflow: auto;
	padding-top: 0%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border:10000px solid black;
	z-index: 10;
	-webkit-box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1);
	animation: illuminator-move 5s infinite linear;
	-webkit-animation: illuminator-move 5s infinite linear;
	-moz-animation: illuminator-move 5s infinite linear;
	-o-animation: illuminator-move 5s infinite linear;
	-ms-animation: illuminator-move 5s infinite linear;
	/*transition:all 2s ease;*/
	pointer-events:none;
}
		@keyframes illuminator-move {
			0% {
				top:50%;
				left:50%;
			}
			25% {
				top:49%;
				left:49%;
			}
			50% {
				top:49%;
				left:50%;
			}
			75% {
				top:49%;
				left:51%;
			}
			100% {
				top:50%;
				left:50%;
			}
		}
		@-webkit-keyframes illuminator-move {
			0% {
				top:50%;
				left:50%;
			}
			25% {
				top:49%;
				left:49%;
			}
			50% {
				top:49%;
				left:50%;
			}
			75% {
				top:49%;
				left:51%;
			}
			100% {
				top:50%;
				left:50%;
			}
		}
		@-moz-keyframes illuminator-move {
			0% {
				top:50%;
				left:50%;
			}
			25% {
				top:49%;
				left:49%;
			}
			50% {
				top:49%;
				left:50%;
			}
			75% {
				top:49%;
				left:51%;
			}
			100% {
				top:50%;
				left:50%;
			}
		}
		@-o-keyframes illuminator-move {
			0% {
				top:50%;
				left:50%;
			}
			25% {
				top:49%;
				left:49%;
			}
			50% {
				top:49%;
				left:50%;
			}
			75% {
				top:49%;
				left:51%;
			}
			100% {
				top:50%;
				left:50%;
			}
		}
		@-ms-keyframes illuminator-move {
			0% {
				top:50%;
				left:50%;
			}
			25% {
				top:49%;
				left:49%;
			}
			50% {
				top:49%;
				left:50%;
			}
			75% {
				top:49%;
				left:51%;
			}
			100% {
				top:50%;
				left:50%;
			}
		}
/*
section.social {
	display: block;
	width:100%;
	height: 100%;
	position: relative;
	z-index: 9999;
}

	.share {
		position: absolute;
		display: block;
		top:50%;
		left:50%;
		text-align: center;
		transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-o-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
	}
*/

.share {
	position: fixed;
	width: auto;
	top:120%;
	left:50%;
	text-align: center;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-ms-transition: all 1s ease-in-out;
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
}
	.scroll-bottom {
		top:50%;
	}


/*WORKS*/

.portfolio-list {
	margin-top: 200px;
	display: block;
	width: 100%;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
	.portfolio-list a {
		text-decoration: none;
		color: #000;
	}
		.portfolio-item {
			display: block;
			position: relative;
			margin: 40px 0;
		}


			.portfolio-item h5 {
				margin:0;
			}
			.portfolio-item img {
				width: 100%;
				max-width: 150px;
			}



/*OVERLAYERS BACKGROUNDs*/

.load-bg {
	position: fixed;
	display: block;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	height: auto;
	width: 0%;
	padding-top: 0%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border:10000px solid black;
	z-index:11;
	-webkit-box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1);
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	pointer-events:none;
	z-index: 9998;
}