<div class="menu-mobile">
	<div class="menu-links">
		<%=link_to "Home", root_path, :class => "menu-link" %>
		<%=link_to "Portfolio", works_path, :class => "menu-link" %>
		<%=link_to "Contact", contacts_path, :class => "menu-link" %>
	</div>
</div>