<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vlad Kuzmin Design</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/svg-styles.css">
	<link rel="stylesheet" href="css/media.css">
<%
=begin %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%
=end%>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/jquery.smoothwheel.js"></script>


</head>
<body>
	<%= yield %>
</body>
</html>